.container {
  background-color: black;

}

#section {
  background-color: gray;
  display: grid;
  grid-template-columns: 4;
  grid-row: auto;
  grid-row-start: 1;
  grid-column-start: 1;
}

#title {

  color: red;
}