.container {
    background-color: black;
    max-width: 100vw;

    


    
}

#section {

    background-color: gray;
    border-radius: 25px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    min-height: 50vh;
    margin: auto auto;
    padding: 70px 10px 10px 10px;
    
  
}

#titleContainer {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column: 1 / span 3;
    font: 25px bolder;
    color: black;
    justify-self: center;

}




#exerciseForm {
    grid-row-start: 2;
    grid-column: 1/span 3;
    border: 1px black solid;
    border-radius: 25px;
    padding: 12px;


}

#formTitle {
    color: black;
    justify-self: center;
    font-size: 16px;
}

#inputGroup {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 3;
    margin-bottom: 10px;
}
#imageInputField {
    grid-row-start: 2;
    border: black 1px solid;
    border-radius: 10px;
    padding-left:60px ;
    padding-right: 60px;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 10px;


}

#muscleInputField {
    padding-left:60px ;
    padding-right: 60px;
    border: black 1px solid;
    border-radius: 10px;
    grid-row-start: 1;
    justify-self: center;
    margin-top: 10px;


}

#addExerciseButton {
    grid-row-start: 3;
    justify-self: center;
    padding: 10px;
    margin: auto auto;
    border: 1px black solid;
    border-radius: 20px;
    background-color: darkgray;
}


#exercise {
    border: 1px black solid;
    margin: 8px 8px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 4;
    box-shadow: 1px  6px 5px -1px black;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
}

#muscleGroup {
    justify-self: center;
    font-size: 18px;
    font-weight: bold;
    color: black;

}

#date {
    justify-self: center;
    font-size: 16px;
    color: black;
}

#images {
    justify-self: center;
}

#buttonContainer {
    display: grid;
    grid-template-columns: 2;
    border-top: 1px solid black;
    padding-top: 10px;
    justify-content: space-evenly;
    padding-bottom: 8px;
    font-size: 12px;

    
}

#removeExerciseButton {
    grid-column-start: 1;
    border: 1px black solid;
    padding: 10px;
    margin: auto auto;
    border-radius: 20px;
    background-color: darkgray;

}

#removeExerciseButton :hover {
    background-color: gray;
}
#viewSetsButton {
    padding: 10px;
    margin: auto auto;
    grid-column-start: 2;
    border: 1px black solid;
    border-radius: 20px;
    background-color: darkgray;
}

#summaries {
    grid-column-start: 1;
    grid-row-start: 4;
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 1;
    gap: 10px;
    justify-content: center;

}

#totalSets {
    justify-self: center;
    grid-row: 1;
    font-size: 14px;
    font-weight: bold;
    grid-column-start: 1;

}

#totalVolume {
    justify-self: center;
    grid-row-start: 2;
    font-size: 14px;
    font-weight: bold;
    
}

#navContainer {
    grid-row-start: 1;
}




