.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #C9A473;
    color: #000000;
    position: fixed;
    z-index: 10;
    width: 100%;
    margin-top: 0px;
    justify-self: flex-start;


    

}

.tabContainer {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    justify-content: space-between;


}



.navButton {
    grid-column-start: 1;
    margin: 5px 10px 5px 10px; 
    padding: 3px 5px 3px 5px;
    color: #000000;
    text-decoration: none;
    border: black 1px solid;
    border-radius: 5px;
    background-color: black;
    color: white;

}

.navButton:hover {
    background-color: gray;

}

.signout {
    grid-column-start: 2;
    margin: 5px 10px 5px 10px; 
    padding: 3px 5px 3px 5px;
    color: #000000;
    text-decoration: none;
    border: black 1px solid;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.signout:hover {
    background-color: gray;

}


