.dailyView {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 60px;
}
.weekly {
    position: center;
}

.button {
    background-color: gray;
    color: white;
    border: solid 2px #C9A473;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    margin-left: 45%;
    width: 10%;
}

.button:hover {
    background-color: white;
}
